@import url("https://use.typekit.net/fen8xlb.css");
@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

$font-serif: 'Cactus Classical Serif', Georgia, serif;

:root {
  --gradient-linear: linear-gradient(#65a7e4ff 0%, #96c5e5ff 10.15625%, #b8dae6ff 23.4375%, #deddd2ff 37.5%, #e6ddc7ff 45.83333432674408%, #f0d1c0ff 63.02083134651184%, #ffd0d0ff 83.33333134651184%); 
}

.mono {
  font-family: $font-serif;
}

.sans-serif {
  font-family: 'neue-haas-unica';
    p, span, div, li, a {
    font-family: 'neue-haas-unica';
  }
}

.label {
  font-size: x-small;
}

.index-section-title {
  font-size: small;
}

.light-text {
  color: #3B654A;
  p {
    color: #3B654A;
  }
}

span, p, div {
  color: #1D1A1A;
  font-family: $font-serif;
  font-weight: 400;
}

p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  img {
    margin-bottom: 1.75rem;
  }
  
}

body {
  font-family: $font-serif;
  font-weight: 350;
}


.link {
  // text-decoration: underline;
  // text-underline-offset: 2px;
  transition: all 0.15s ease;
  cursor: pointer;
  border-bottom: 1px solid #4d4e5c46;

}


.link:hover {
  color: #BB6D41;
  border-bottom: 1px solid #bb6e413d;
  // color: #53956D;
}

.nav {
  transition: all 0.15s ease;
  cursor: pointer;
}

.nav:hover {
  color: #BB6D41;
}

.hover:hover {
  div {
    color: #BB6D41;
  }
}

.project-link {
  border-bottom: 1px solid #095d4046;
  transition: all 0.15s ease;
  cursor: alias;
}

.internal {
  cursor: pointer;
}

.album-text:hover {
  div {
    color: #BB6D41;
  }
}

::selection {
  background: #fffad8;
}

details > summary {
  list-style-type: none;
}