@import url("https://use.typekit.net/fen8xlb.css");

:root {
  --gradient-linear: linear-gradient(#65a7e4ff 0%, #96c5e5ff 10.15625%, #b8dae6ff 23.4375%, #deddd2ff 37.5%, #e6ddc7ff 45.83333432674408%, #f0d1c0ff 63.02083134651184%, #ffd0d0ff 83.33333134651184%); 
}

.mono {
  font-family: 'DM Mono';
  font-weight: 400;
}

.sans-serif {
  font-family: 'neue-haas-unica';
}

.title {
  font-family: 'ivypresto-headline'
}

.label {
  font-size: x-small;
}

.index-section-title {
  font-size: small;
}

.light-text {
  color: #3B654A;
  p {
    color: #3B654A;
  }
}

span, p, div {
  color: #095d40;
}

p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  img {
    margin-bottom: 1.75rem;
  }
}

body {
  background-color: #f3f5e9;
  font-weight: 400;
}


.link {
  // text-decoration: underline;
  // text-underline-offset: 2px;
  transition: all 0.15s ease;
  cursor: pointer;
  color: #095d40;
  border-bottom: 1px solid #095d4046;

}


.link:hover {
  color: #BB6D41;
  border-bottom: 1px solid #bb6e413d;
  // color: #53956D;
}

.nav {
  transition: all 0.15s ease;
  cursor: pointer;
}

.nav:hover {
  color: #BB6D41;
}

.hover:hover {
  div {
    color: #BB6D41;
  }
}

.project-link {
  border-bottom: 1px solid #095d4046;
  transition: all 0.15s ease;
  cursor: alias;
}

.internal {
  cursor: pointer;
}

.album-text:hover {
  div {
    color: #BB6D41;
  }
}

::selection {
  background: #e2edd6;
}

details > summary {
  list-style-type: none;
}