---
import TitleDisplay from '../components/TitleDisplay.astro';
import ProjectsOverview from '../components/ProjectsOverview.astro';
import "../styles/global.scss";
import SplitLayout from '../layouts/SplitLayout.astro';
---
<SplitLayout title={"404"}>
	<div class="m-auto">Page not found...</div>
</SplitLayout>
