---
import "../styles/global.scss";
import Layout from '../layouts/Layout.astro';
import { bookList } from "../data/books";
import { Image } from "astro:assets";

const years = [2024, 2023, 2022, 2021];
---

<Layout title={"Books"}>
  <div>
    <div><a class="" href="/">← home</a></div>
    <br>
    <div class="text-base mt-2 mb-4 text-left">About this site</div>
    <div class="text-sm mb-4 text-left text-dark-green/80 max-w-[40em]">
      This website was built with <a href="https://docs.astro.build/en/getting-started/" class="link">Astro</a> and typeset with <a class="link" href="https://fonts.google.com/specimen/DM+Mono">DM Mono</a> and Apple's System-ui. 
      I made this website with the intention to show the things I've worked as well as bits of my personal life. 
      This website is inspired by other personal sites that treat the website like a garden, sprawling and populated with nooks and crannies, always growing.
    </div>

  </div>
</Layout>