---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { getPlayImages } from "../utils/photos";

const images = await getPlayImages();
---

<Layout title="Play">
  <div><a class="" href="/">← back</a></div>
  <br>
  <div class="text-base mt-2 mb-4 text-center">Play</div>
  <div class="text-sm m-auto mb-4 text-center max-w-[40em] text-dark-green/80">
    Illustations, animations, prints, paintings - digital drawings done in Procreate or Heavypaint
  </div>
  <br>
  <div class="container sm:columns-2 max-w-[60em] m-auto gap-4 sm:gap-10">
    {images.map((image) => (
    <div class="mb-4 sm:mb-10 container">
      <Image src={image} alt="hi" class="rounded-sm"/>
    </div>
    ))}
  </div>
</Layout>