<div id="title-display" class="h-screen">
  <div class="flex flex-col place-content-between p-8 sm:p-6 md:p-6 lg:p-10 border-b border-dark-green h-full">
    <span class="font-light text-5xl sm:text-7xl md:text-7xl lg:text-8xl title">
    Annie Qiu is a developer, designer, and artist at Dartmouth College.
    </span>
    <span class="flex justify-end">
      <span class="transition h-20 w-20 hover:scale-[1.2] hover:transition-all bg-dark-green rounded-full hover:bg-hover-color"></span>
    </span>
  </div>
</div>

