---
import { getCollection } from 'astro:content';
import SplitLayout2 from '../../layouts/SplitLayout2.astro';


export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map(project => ({
    params: { slug: project.slug }, props: { project },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { project } = Astro.props;
const { Content } = await project.render();
---
<SplitLayout2 title={project.data.title}>
  <div class="block sm:hidden mb-4"><a class=" internal" href="/">← home</a> / <a class="internal" href="/projects">projects</a></div>

  <div class="flex">
    <div class="flex flex-col gap-1">
      <div class="text-xl font-sans">{project.data.title}</div>
      <div class="text-xs font-mono">{project.data.description}</div>
      <div class="flex gap-2 mt-2">
        {project.data.tools.map((tool) => (
          <div class="text-xs font-mono bg-light-green/5 px-2 py-1 text-dark-green/80">{tool}</div>
        ))}
      </div>

      <br>
    </div>
  </div>
  <div class="font-sans leading-normal prose-sm mb-8">
    <Content/>
  </div>
</SplitLayout2>