---
import "../../styles/global.scss";
import ProjectsList from "../../components/ProjectsList.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
    <meta name="generator" content={Astro.generator} />
		<title>Work</title>
	</head>
	<body>
    <div class="mono text-sm">
      <div class="flex flex-row h-dvh">
        <div class="inline w-full sm:max-w-[30em]">
        <ProjectsList/>
        </div>
        <div class="hidden sm:inline flex flex-col overflow-y-auto w-full p-4 sm:p-6">
          <div class="max-w-[45em]">
          </div>
        </div>
      </div>
    </div>
	</body>
</html>

